@media (max-width: 588px){ /* Resolução smartphone */
    html{
        height: -webkit-fill=available;
    }
    body{
        width: 100%;
        max-width: 200vw;
        flex-direction: column;
        margin: 0;
        padding: 0;
        height: -webkit-fill=available;
    }
    
    button{
        margin-left: 50px;
    }
    
    .checkbtn {
        display: block;
        margin-right: -30px;
    }
    #logo{
        color: #5d3021;
        font-size: 35px;
        line-height: 80px;
        padding: 0 100px;
        font-weight: bold;
        margin-left: 18%;
        margin-top: 4px;
        font-family: 'Pinyon Script', cursive;
    }

    nav div img {
        height: 70px;
        width: 50px;
        margin-top: 2%;
        margin-right: -50px;
        margin-left: -250px;
    }
    nav {
        margin-top: -2px;
        width: 100%;
    }
    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #facdb4;
        top: 76px; /* para que o menu apareça embaixo da navbar */
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a {
        font-size: 18px;
        font-weight: bold;
    }
    a:active, a:hover {
        background: none;
        color: #ab7e6a;
    }
    #check:checked ~ ul {
        left: 0;
    }
    .slider {
        display: none;
    }
    .container-textos {
        margin-left: -160px;
        margin-top: 10px;
        margin-bottom: 10px;
        display: grid;
        grid-template-columns: 1fr;
        padding: -5%;
    }

    .container-textos div{
        height: 900px;
        display:contents    
    }

    #h4-textos {
        color: #5d3021;
        margin-left: 16%;
        margin-top: 4%;
        justify-content: center;
        text-align: center;
        align-items: center;
        font-family: 'Playball',sans-serif;
        font-size: 26px;
    }

    #p-textos {
        text-align: center;
        margin-left: 15%;
        width: 170px;
        font-size: 16px;
        font-family: sans, serif;
        font-family: 'Nunito Sans',sans-serif;
        margin-top: 3%;
    }

    #btn-textos{
        margin-top: 14%;
        margin-left: 135px;
    }

    .container-sociais {
        margin-left: -60px;
        display: flex;
        font-family: 'Nunito Sans';
    }
    .container-sociais a{
        color: #5d3021;
        font-weight: bold;
        height: 2px;
        margin-top: 10px;
        margin-left: 29%;
        padding-bottom: 30px;
    }
    .container-icoes-sociais{
        display: grid;
        grid-template-columns: 52% auto;
        margin-left: 25%;
    }
    #img-facebook {
        height: 55px;
    }
    #img-instagram {
        height: 62px;
    }

    .container-contatos{
        align-items: center;
        text-align: center;
        margin-top: 20px;
    }
    
    .container-contatos h2{
        color: #5d3021;
        margin-left: 2%;
    }
    
    .container-contatos p{
        margin-left: 0px;
        font-weight: bold;
        color:#5d3021;
    }
    
    .container-contatos a{
        margin-left: 0;
        font-weight: bold;
        color:#5d3021;
    }
    
    .container-contatos a:hover{
        background-color: #ab7e6a;
        color: white;
    }
    
    .icone-whatsapp{
        height: 62px;
        margin-left: 46%;
        margin-top: 10px;
    }

    #icone-social{
        width: 13%;
    }

    .container-sobre-mim {
        margin-top: 3%;
        text-align: left;
        align-items: center;
        margin-left: 30%;
        width: 500px;
    }
    .container-sobre-mim h2{
        text-align: center;
        margin-left: -40%;
        margin-bottom: 20px;
        margin-top: 20px;
        font-family: 'Playball';
        color: #5d3021;
    }
    .container-sobre-mim p{
        margin-left: -15%;
        font-size: 90%;
        text-align: justify;
        text-indent: 40px;
        font-family: 'Nunito Sans';
        color: #5d3021;
        width: 80%;
    }
    
    .container-sobre-mim img{
        height: 500px;
        margin-left: 0;
    }

    .container-mediacao {
        margin-top: 2%;
        text-align: left;
        align-items: center;
        margin-left: 35%;
        width: 500px;
    }
    .container-mediacao h2{
        margin-top: 20px;
        text-align: center;
        margin-bottom: 20px;
        margin-left: -58%;
        font-family: 'Playball';
        color: #5d3021;
    }
    
    .container-mediacao h4{
        margin-top: 10px;
        margin-left: -58%;
        text-align: center;
        margin-bottom: 20px;
        font-family: 'Playball';
        color: #5d3021;
    }
    
    .container-mediacao p{
        margin-top: -5px;
        text-indent: 40px;
        font-family: 'Nunito Sans';
        color: #5d3021;
        margin-left: -20%;
        width: 80%;
        text-align: justify;
    }
    
    #foto-mediadora{
        height: 350px;
        margin-left: -12%;
    }

    .container-celebra-cartorio {
        margin-top: 2%;
        align-items: center;
        margin-left: 38%;
        width: 500px;
    }
    .container-celebra-cartorio h2{
        margin-top: 20px;
        margin-left: -60%;
        text-align: center;
        margin-bottom: 20px;
        font-family: 'Playball';
        color: #5d3021;
    }
    .container-celebra-cartorio p{
        text-indent: 40px;
        font-family: 'Nunito Sans';
        color: #5d3021;
        margin-top: -10px;
        margin-left: -20%;
        width: 75%;
        text-align: justify;
    }
    
    .container-celebra-cartorio img{
        height: 350px;
        margin-left: -20%;
    }

    .container-celebra-outro-local {
        margin-top: 2%;
        text-align: left;
        align-items: center;
        margin-left: 36%;
        width: 500px;
    }
    .container-celebra-outro-local h2{
        margin-top: 10px;
        margin-left: -62%;
        text-align: center;
        margin-bottom: 20px;
        font-family: 'Playball';
        color: #5d3021;
    }
    .container-celebra-outro-local p{
        margin-top: -5px;
        text-indent: 40px;
        font-family: 'Nunito Sans';
        color: #5d3021;
        text-align: justify;
        margin-left: -20%;
        width: 78%;
    }
    
    .container-celebra-outro-local img{
        height: 350px;
        margin-left: 10%;
        margin-left: -8%;
    }


    footer h2{
        margin-left: 0;
        font-size: 20px;
        padding-bottom: 5px;
    }
    footer p{
        margin-left: 0;
        font-size: 13px;
    }
}